#============================= Filebeat general tag ===============================
fields_under_root: true
fields:
  managementSubnet: 10.255.26.130
tags: ["NFVI"]

#============================= Filebeat inputs ===============================
filebeat.inputs:
- type: log
  enabled: true
  tags: ["QEMU"]
  paths:
    - /var/log/libvirt/qemu/*.log
  multiline.pattern: '^[0-9]{4}-[0-9]{2}-[0-9]{2}'
  multiline.negate: true
  multiline.match: after

- type: log
  enabled: true
  tags: ["nova_compute"]
  paths:
    - /var/log/nova/nova-compute.log
  multiline.pattern: '^[0-9]{4}-[0-9]{2}-[0-9]{2}'
  multiline.negate: true
  multiline.match: after

- type: log
  enabled: true
  tags: ["neutron_dhcp_agent","neutron-agent"]
  paths:
    - /u01/docker/docker_log/neutron/neutron-dhcp-agent.log
  multiline.pattern: '^[0-9]{4}-[0-9]{2}-[0-9]{2}'
  multiline.negate: true
  multiline.match: after


- type: log
  enabled: true
  tags: ["neutron_metadata_agent","neutron-agent"]
  paths:
    - /u01/docker/docker_log/neutron/neutron-metadata-agent.log
  multiline.pattern: '^[0-9]{4}-[0-9]{2}-[0-9]{2}'
  multiline.negate: true
  multiline.match: after

- type: log
  enabled: true
  tags: ["neutron_openvswitch_agnet","neutron-agent"]
  paths:
    - /u01/docker/docker_log/neutron/neutron-openvswitch-agent.log
  multiline.pattern: '^[0-9]{4}-[0-9]{2}-[0-9]{2}'
  multiline.negate: true
  multiline.match: after

- type: log
  enabled: true
  tags: ["ovs-vswitchd"]
  paths:
    - /var/log/ovs-vswitchd.log

- type: log
  enabled: true
  tags: ["libvirtd"]
  paths:
    - /var/log/libvirt/libvirt.log
  multiline.pattern: '^[0-9]{4}-[0-9]{2}-[0-9]{2}'
  multiline.negate: true
  multiline.match: after


- type: log
  enabled: true
  tags: ["nova","console","instance"]
  paths:
    - /var/lib/nova/instances/*/console.log

#============================= Filebeat modules ===============================

filebeat.config.modules:
  # Glob pattern for configuration loading
  path: ${path.config}/modules.d/*.yml

  # Set to true to enable config reloading
  reload.enabled: false

  # Period on which files under path should be checked for changes
  #reload.period: 10s

#==================== Elasticsearch template setting ==========================

setup.template.settings:
  index.number_of_shards: 1
  #index.codec: best_compression
  #_source.enabled: false
setup.template.name: "nfvi"
setup.template.pattern: "nfv-nfvi-%{yyyy.MM.dd}"


#================================ Outputs =====================================

output.logstash:
  hosts: ["10.255.26.163:5047","10.255.26.164:5047","10.255.26.165:5047"]
  loadbalance: true

# Configure what output to use when sending the data collected by the beat.

#-------------------------- Elasticsearch output ------------------------------
#output.elasticsearch:
  # Array of hosts to connect to.
#  hosts: ["10.255.26.163:9200","10.255.26.164:9200","10.255.26.165:9200"]
#  loadbalance: true
#  index: "nfvi"

  # Optional protocol and basic auth credentials.
  #protocol: "https"
  #username: "elastic"
  #password: "changeme"

#================================ Processors =====================================

# Configure processors to enhance or manipulate events generated by the beat.

processors:
  - add_host_metadata: ~
  - add_cloud_metadata: ~

# Defines if the HTTP endpoint is enabled.
http.enabled: true

# The HTTP endpoint will bind to this hostname or IP address. It is recommended to use only localhost.
http.host:  {{ host_info.ip[host_name] }}

# Port on which the HTTP endpoint will bind. Default is 5066.
http.port: 5066

monitoring.enabled: true
monitoring.elasticsearch:
  hosts: ["10.255.26.163:9200","10.255.26.164:9200","10.255.26.165:9200"]
